#dharma-home {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    text-align: center;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    header {
        width: 100%;
        background-image: url("../../assets/home-bg-faded.png");
        background-position: top right;
        background-size: cover;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        flex: 1;
        flex-direction: column;
        gap: 40px;
        padding-bottom: 40px;

        #name {
            height: 160px;

            & > * {
                text-transform: uppercase;
            }

            #door,
            #dharma {
                font-family: "Barlow Semi Condensed";
            }

            #door {
                font-size: 6.5em;
            }

            #two {
                color: cadetblue;
                font: bold 10.2em "Times";
                transform: scale(1.3, 1);
                position: relative;
                top: -0.77em;
                left: -1px;
            }

            #dharma {
                font-size: 4.1em;
                position: relative;
                top: -3.35em;
            }
        }

        h2 {
            font-weight: 300;
            font-size: 1.8em;
            margin: 0;
        }

        #home-nav-links {
            a {
                width: 150px;
                background-color: var(--dark-accent);
                border: 0;
                border-radius: 10px;
                box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
                box-sizing: border-box;
                color: white;
                display: inline-block;
                font: bold 1.2em "Barlow Semi Condensed";
                margin: 8px;
                padding: 8px 0;
                text-decoration: none;
                text-transform: uppercase;

                &:hover {
                    background-color: antiquewhite;
                    color: orange;
                    border-color: orange;
                }
            }
        }
    }
}
