#dharma-lookup {
    width: 100vw;
    height: 100vh;
    overflow: auto;
    box-sizing: border-box;
    text-align: center;

    h1 {
        font-family: "Barlow Semi Condensed";
    }

    h2 {
        font-weight: 100;
    }

    #back-to-top {
        width: 30px;
        height: 30px;
        background-color: white;
        color: var(--mid-accent);
        position: fixed;
        left: 0;
        z-index: 999;
        padding-top: 3px;
        box-sizing: border-box;

        &:hover {
            background-color: var(--mid-accent);
            color: white;
            cursor: pointer;
        }
    }
}
