#dharma-quiz {
	min-height: 100vh;
	background-color: var(--mid-accent);
	display: flex;
	flex-direction: column;

	h2 {
		margin: 10px;
		font-family: "Barlow Semi Condensed";
	}

	#description {
		min-height: 35px;
		background-color: var(--mid-accent);
		font-weight: 100;
		padding: 10px;
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
		text-align: center;
	}

	.item-box {
		background-color: var(--dark-accent);
		color: white;
		font-family: "Barlow Semi Condensed";
		font-weight: bold;
		line-height: 0.9em;
		text-align: center;
		box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
		display: flex;
		align-items: center;
		justify-content: center;

		&:hover {
			cursor: pointer;
		}
	}

	.selected-item {
		background-color: lightsalmon !important;
	}

	#item-boxes {
		min-height: 300px;
		background-color: white;
		padding: 10px;
		box-sizing: border-box;
		display: flex;
		align-content: center;
		align-items: center;
		justify-content: center;
		flex: 1;
		flex-wrap: wrap;

		.item-box {
			width: 165px;
			min-height: 70px;
			border-radius: 10px;
			box-sizing: border-box;
			margin: 5px;
			padding: 5px;
			z-index: 2;
		}

		.status {
			#new-quiz-button {
				background: var(--mid-accent);
				border: 0;
				border-radius: 10px;
				padding: 10px;
				font-size: 1.2em;
				color: white;

				&:hover {
					background-color: var(--light-accent);
				}
			}
		}
	}

	#category-boxes {
		padding: 6px 6px 0;
		box-sizing: border-box;
		display: flex;
		flex-wrap: wrap;

		.category-box {
			min-width: 200px;
			height: 280px;
			margin: 6px 6px 12px;
			text-align: center;
			display: flex;
			flex-direction: column;
			flex: 1;

			h2 {
				min-height: 52px;
				background-color: var(--light-accent);
				margin: 0;
				display: flex;
				align-items: center;
				justify-content: center;

				&:hover {
					cursor: pointer;
				}
			}

			.items-in-category {
				flex: 1;
				background-color: white;
				padding-bottom: 10px;
				display: flex;
				flex-direction: column;
				overflow: auto;

				.item-box {
					font-weight: bold;
					border-radius: 5px;
					margin: 10px 10px 0;
					padding: 5px 3px;
				}
			}

			.click-here-to-add {
				height: 52px;
				background-color: var(--light-accent);
				color: #999;
				font-size: 3.5em;
				font-weight: bold;
				display: flex;
				align-items: flex-end;
				justify-content: center;

				&:hover {
					cursor: pointer;
				}

				span {
					position: relative;
					top: 4px;
				}
			}
		}
	}
}

@media only screen and (max-width: 850px) {
	#dharma-quiz {
		#category-boxes {
			display: inline-block !important;
		}
	}
}
