.list-box {
  max-width: 600px;
  width: 100%;
  background-color: var(--mid-accent);
  margin: 20px auto;
  padding: 5px;
  border-radius: 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.list-box .close-info {
  font-weight: bold;
  color: var(--light-accent);
  position: absolute;
  top: 15px;
  right: 20px;
  -webkit-transition: 0s !important;
  transition: 0s !important;
}

.list-box .close-info:hover {
  color: white;
  cursor: pointer;
}

.list-box.hidden {
  opacity: 0;
  z-index: -999;
}

.list-box.hidden:hover {
  cursor: default;
}

.list-box.shown {
  opacity: 1;
  z-index: 999;
}

.list-box table {
  width: 100%;
}

.list-box table td {
  width: 50%;
  border: 1px solid black;
}

.list-box table td.info-def {
  background-color: antiquewhite;
}

.list-box,
.list-box .definition,
.list-box .word,
.list-box .pair {
  -webkit-box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
          box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
}

.list-box .title,
.list-box .header {
  font-weight: bold;
  padding: 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.list-box .title,
.list-box .definition {
  min-height: 200px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.list-box .title {
  width: 50%;
  font: 2em "Barlow Semi Condensed";
}

.list-box .definition {
  width: calc(50% - (2 * 5px));
  background-color: var(--dark-accent);
  color: white;
  font-size: 1.2em;
  margin: 5px;
  padding: 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 10px;
}

.list-box .sub {
  width: 33.33%;
  min-width: 175px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.list-box .sub.top-level-pali {
  width: 100%;
}

.list-box .sub.top-level-pali .pair .left,
.list-box .sub.top-level-pali .pair .right {
  width: 50%;
  font-size: 1.2em;
  text-transform: uppercase;
}

.list-box .sub .word,
.list-box .sub .pair {
  width: calc(100% - 2 * 5px);
  min-height: 55px;
  margin: 5px;
  border-radius: 10px;
}

.list-box .sub .word {
  background-color: var(--light-accent);
  padding: 0 2px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.list-box .sub .pair {
  font-size: 0.9em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.list-box .sub .pair .left,
.list-box .sub .pair .right {
  padding: 0 2px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.list-box .sub .pair .left {
  min-width: 32%;
  background-color: var(--dark-accent);
  color: white;
  font-family: "Barlow Semi Condensed", sans-serif;
  font-weight: bold;
  border-radius: 10px 0 0 10px;
}

.list-box .sub .pair .right {
  background-color: var(--light-accent);
  border-radius: 0 10px 10px 0;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.list-box .suttas-template {
  width: 100%;
}

.list-box .suttas-template h3 {
  margin-bottom: 10px;
}

.list-box .suttas-template a {
  font-weight: bold;
  color: #527f80;
}
/*# sourceMappingURL=list-box.css.map */